.firstone {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    align-items: center;
}
/* .spacing-top--1, .spacing-top--2 {
    margin-top: 3.5rem;
} */
.firsttwo {
    color: #fff;
    text-shadow: 0 0 12px rgba(0,0,0,.6);
    z-index: 2;
    text-align: center;
    position: absolute;
    left: 1.25rem;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
}
.fonts-loaded-1 .firstthree {
    font-family: BrandonGrotW01,sans-serif;
}
.firstthree {
    font-family: sans-serif;
    font-size: 2rem;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
}
.fonts-loaded-1 .firstfour {
    font-family: BrandonGrotW01,sans-serif;
}
.firstfour {
    font-style: italic;
    font-size: 20px;
    color: #fff;
}
.first__image {
    position: relative;
    overflow: hidden;
    height: 610px;
    max-width: 100%;
    display: flex;
    margin-top: 70px;
}
.first__image img {
    position: absolute;
    font-family: "object-fit:cover";
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.firstfour p
{
    margin-top: 10px;
    font-size: 20px;
}



.secondone {
    margin-top: 0.3rem;
}
.secondthree {
    max-width: 46rem;
    margin-left: 400px;
}
.secondtwo {
    max-width: 44rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.secondsix {
    font-size: 1rem;
}
.secondfive {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 0.1rem;
    color: #777;
}
.secondfour p {
    margin-top: 50px;
}
.secondsix {
    /* margin-top: .75em; */
    color: #333;
    margin-top: 20px;
}
.second__content {
    margin-top: 30px;
    line-height: 25px;
    font-size: 17px;
    width: 800px;
    margin-left: -25px;
}
.second__content p {
    max-width: 92%;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.secondsix {
    font-size: 1rem;
}
element.style {
    text-align: center;
}
.secondsix h2 {
    color: #007a5a;
    font-weight: bolder;
    font-size: 50px;
    font-family: BrandonGrotW01,sans-serif;
    text-transform: uppercase;
}
/* .secondsix h2, .secondsix h3 {
    margin-bottom: 1rem;
} */
.fonts-loaded-1 h2 {
    font-family: BrandonGrotW01, sans-serif;
}
h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    line-height: 1.1;
    hyphens: auto;
}
.secondsix h2 .secondsix p {
    margin: 1.25rem;
}





.column {
    float: left;
    width: 20%;
    padding: 5px;
    flex: 20%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
    margin-top: 40px;
}
.sprite-1 {
    width: 200px;
    overflow: hidden;
}
.column video {
    width: 90%; 
    height: 70%;
}
.arrowleft {
    position: absolute;
    top:82%;
    margin-left: 218px;
}
.arrowright {
    position: absolute;
    top: 82%;
    margin-left: 1328px;
}
.firstsvg {
    left: 10px;
}
.firstsvg {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    cursor: pointer;
}
.firstsvg svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}
.firstsvg  {
    fill: #333;
}
.secondsvg {
    right: 10px;
}
.secondsvg {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,0.75);
    cursor: pointer;
}
.secondsvg svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}
.secondsvg {
    fill: #333;
}


.third {
    margin-top: -150px;
}
.thirdone {
    text-align: center;
    margin-top: 10px;
}
.thirdtwo {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.7rem;
    color: #fff;
    background: #007a5a;
    transition: color .2s;
}
.spacing-top--3 {
    margin-top: 10px;
}
